
@{
    ViewBag.Title = "Log In";
}

<div class="jumbotron" style="max-height:330px;">

    <div class="row">

        <div class="col-md-4 well">

            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                @Html.ValidationSummary()

                <div class="form-group">
                    <input type="text" class="form-control" name="Username" placeholder="User Name" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="Password" placeholder="Password" />
                </div>

                <input type="submit" class="btn btn-default" value="Log In" />

                <br />

                <small><a href="@Url.RouteUrl("register")">Register</a></small>
            }

        </div>

    </div>    

</div>