
@{
    ViewBag.Title = "Customer Portal";
}

<div class="page-header">
    <h2><span class="glyphicon glyphicon-tasks"></span> Dashboard - Boeing</h2>
</div>

<div class="row">

    <div class="col-md-4">

        <div class="panel panel-primary">

            <div class="panel-heading">
                Open Sales Orders
            </div>

            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="">524962</a></td>
                            <td>Oct. 10 2017</td>
                            <td>748.44</td>
                        </tr>
                        <tr>
                            <td><a href="">524173</a></td>
                            <td>Oct. 3 2017</td>
                            <td>21629.11</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
                <a href="">More...</a>
            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="panel panel-primary">

            <div class="panel-heading">
                Quotes
            </div>

            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Quote #</th>
                            <th>Date</th>
                            <th>Valid Until</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="">391632</a></td>
                            <td>Oct. 19 2017</td>
                            <td>Nov. 18 2017</td>
                        </tr>
                        <tr>
                            <td><a href="">391629</a></td>
                            <td>Oct. 19 2017</td>
                            <td>Nov. 18 2017</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
                <a href="">More...</a>
            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="panel panel-primary">

            <div class="panel-heading">
                Open Purchase Orders
            </div>

            <div class="panel-body">
                <p>You have no open purchase orders.</p>
            </div>

            <div class="panel-footer">
                
            </div>

        </div>

    </div>

</div>

